<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="p-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div style="color: #7db2e1" class="display-5 lead">Master</div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 d-flex flex-row-reverse">
                    
                </div>
            </div>
        </div>
    </div>

    <div class="m-2"></div>


    <div style="width: 100%; height:2px; background-color: #7db2e1; margin-bottom: 15px; margin-top: 15px;"></div>

    <div class="container-fluid p-2" style="overflow-x:scroll;">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2" *ngFor="let item of yearWeeks">
                <div class="w-100">
                    <div *ngFor="let date of item">
                        <div class="lead text-center">{{date}}</div>
                    </div>
                </div>
            </div>
        </div>
            
    </div>

</div>